<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ace.member">

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
	<uses-permission android:name="android.permission.READ_OWNER_DATA"/>
	<uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.USE_FINGERPRINT"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<uses-feature android:name="android.hardware.camera"/>

	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

	<application
		android:name=".utils.BaseApplication"
		android:allowBackup="false"
		android:configChanges="locale"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:resizeableActivity="false"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:allowBackup">
		<activity
			android:name=".start.StartActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".main.MainActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".login_password.LoginPasswordActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".login.LoginActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".gesture_lock_setup.LockSetupActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".setting_gesture.SettingGestureActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".gesture_unlock.UnlockActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.service_point.ServicePointActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.currency.CurrencyActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.currency.flow.FlowActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.currency.deposit.DepositActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.currency.coupon.CouponActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.deposit_detail.DepositDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.withdraw_detail.WithdrawDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.password.PasswordActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustPan"/>
		<activity
			android:name=".main.me.log.LogActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.exchange.ExchangeActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.currency.withdraw.WithdrawActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.password.trading_password.TradingPasswordActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
		<activity
			android:name=".sms_notification.SMSNotificationActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.system_update.SystemUpdateActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.about.AboutActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.language.LanguageActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.top_up.TopUpActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.top_up.recent_order.RecentOrderActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.top_up.order_detail.TopUpOrderDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.exchange.recent.ExchangeHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.exchange.exchange_rate.ExchangeRateActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.verify_certificate.VerifyCertificateActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.TransferActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustPan"/>
		<activity
			android:name=".main.home.receive_to_acct.ReceiveToAcctActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateVisible|adjustResize"/>
		<activity
			android:name=".main.home.receive_to_acct.R2AResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.receive_to_acct.history.R2ARecentActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.receive_to_acct.detail.R2ADetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.scan.ScanResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.MoneyActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.payment_history.PaymentHistoryActivity"
			android:screenOrientation="portrait"/>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="@string/google_maps_key"/>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="com.ace.member.fileProvider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"/>
		</provider>

		<activity
			android:name=".main.home.money.receive_money.ReceiveMoneyActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.receive_money.set_amount.SetAmountActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.receive_money.ReceiveMoneyResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.BaseCashActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.deposit_cash.DepositCashActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.withdraw_cash.WithdrawCashActivity"
			android:screenOrientation="portrait"/>

		<service android:name=".service.WebSocketService"/>
		<service android:name=".service.IMWebSocketService"/>

		<activity
			android:name=".main.me.statement.StatementActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.transaction.TransactionActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.transaction.TransactionDefaultDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.image_detail.ImageDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.edc.EdcActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.edc.history.EdcHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.edc.detail.EdcHistoryDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.wsa.WsaActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.wsa.history.WsaHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.wsa.detail.WsaHistoryDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.samrithisak_loan.SamrithisakLoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.samrithisak_loan.loan.LoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.samrithisak_loan.return_loan.ReturnLoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.samrithisak_loan.history.HistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.TransferResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.recent.TransferRecentActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.recent_detail.TransferRecentDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.to_non_member.ToNonMemberActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.to_member.ToMemberActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.exchange.ExchangeResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.deposit_cash.DepositCashResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.withdraw_cash.confirm.WithdrawCashConfirmActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.money.withdraw_cash.WithdrawCashResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.withdraw_via_agent_detail.WithdrawViaAgentDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.bill_payment.BillPaymentActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|stateUnchanged"/>
		<activity
			android:name=".main.third_party.bill_payment.history.BillPaymentHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.bill_payment.history_detail.BillPaymentHistoryDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.fee_detail.FeeDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.bill_payment.select_biller.SelectBillerActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.transfer_detail.TransferDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.AceLoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.salary_loan.SalaryLoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.loan.MemberLoanAceActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.salary_loan.loan.SalaryLoanLoanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.return_loan.ReturnLoanAceActivity"
			android:screenOrientation="portrait"/>
		<!-- <activity -->
		<!-- android:name=".main.home.ace_loan.loan_ace_detail.LoanAceDetailActivity" -->
		<!-- android:screenOrientation="portrait"/> -->
		<activity
			android:name=".main.home.ace_loan.repay_plan.AceLoanRepayPlanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.loan_detail.AceLoanDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.salary_loan.return_loan.SalaryLoanReturnActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.to_merchant.ToMerchantActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.transfer.to_partner.ToPartnerActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.ace_loan_prepayment.AceLoanPrepaymentActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.history.AceLoanHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.history_detail.AceLoanHistoryDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.salary_loan.salary_loan_detail.SalaryLoanDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.deposit_via_agent_detail.DepositViaAgentDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.detail.bill_payment_detail.BillPaymentDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.add_contact.AddContactActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.contacts_list.ContactsActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.salary_loan.salary_loan_history.SalaryLoanHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.ChatActivity"
			android:launchMode="singleTask"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.new_friends.NewFriendsActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.home.ace_loan.repay_plan_list.AceRepayPlanListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.chat_info.ChatInfoActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat.friend_profile.FriendProfileActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".main.friends.chat.chat_info.transfer_history.FriendTransferHistoryActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat_group.build_group.BuildGroupActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".main.third_party.lotto.LottoActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".main.third_party.lotto.lotto90.Lotto90Activity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".main.third_party.lotto.lotto90.single.Lotto90SingleActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".main.third_party.lotto.lotto90.multiple.Lotto90MultipleActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".main.third_party.lotto.lotto90.single.Lotto90ManualSelectActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".main.detail.exchange_detail.ExchangeDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.me.portrait.PortraitActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".main.third_party.lotto.lotto90.special.Lotto90SpecialActivity"
		  android:screenOrientation="portrait"/>
		<activity
			android:name=".main.friends.chat_group.chat_group_info.ChatGroupInfoActivity"
			android:screenOrientation="portrait"/>
	</application>

</manifest>